main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.lil-gui {
  position: absolute;
  top: 0%;
  left: 100%;
}

.file-input {
  position: absolute;
  left: 100%;
  bottom: 0;
}

.scene {
  height: 100%;
  width: calc(50% - 40px);
  position: relative;
  margin: 20px;

  aspect-ratio: 7/9;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
